@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fonte-padrão:"Inter", serif;
    --background-color: #00030C;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
}

body{
    background-color: var(--background-color);
    font-family: var(--fonte-padrão);
    color: #fff;
}

.main-first{
    background-image: url('./images/Background.png');
    height: 100vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

}

.items{
    display: flex;
    flex-direction: column;
    padding-top: 9%;
    margin-left: 8%;
    max-width: 33vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.buttons-itens{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}



.title{
    font-size: 28px;
}
.text-first{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.bottom-1{
    padding: 3%;
    width: 100%;
    background-color: var(--botao-azul);
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}

.bottom-1:hover{
    background-color: #041e3f;
}

.bottom-2{
    padding: 3%;
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    border: solid 2px;
    border-color: var(--cinza-secundario);
    transition: background-color 0.3s ease;
}

.bottom-2:hover{
    background-color: #041e3f;
}

.main-second{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17%;
    font-size: 20px;
}

.second-title{
    font-size: 65px;
}

.second-text{
    color: var(--cinza-secundario);
    font-size: 16px;
}
.right-second{
    max-width: 35vw;
    gap: 0.75rem;
    display: flex;
    flex-direction: column;
}

.main-third{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10%;
}

.third-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 37vw;
}

.third-text{
    margin-bottom: 5%;
    color: var(--cinza-secundario);
    font-size: 16px;
}

.bottom-3{
    padding: 16px;
    background-color: var(--botao-azul);
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.bottom-3:hover{
    background-color: #041e3f;
}

.title-fourth{
    font-weight: 700;
    font-size: 48px;
}

.fourth-text{
    color: var(--cinza-secundario);
    font-size: 16px;
}

.main-fourth{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
    font-size: 20px;
}

.fourth-right{
    gap: 0.75rem;
    
}

.main-last{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.last-title{
    font-size: 48px;
    font-weight: bold;
}
.dispositivos{
    display: flex;
    text-align: center;
}

.dispositivos-text{
    font-size: 32px;
    font-weight: bold;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
}


.links{
    display: flex;
    

}

.links-lista{
    display: flex;
    gap: 25px;
    list-style-type: none;
}

.text-links{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

.text-links:hover{
    color: rgb(49, 166, 212);
    
}

.footer-text{
    font-size: 14px;
    color: var(--cinza-secundario);
    gap: 25px;
    display: flex;
    flex-direction: column;
}